body {
    margin-top: 30px;
}

body::after {
    content: "";
    background: url(../images/food-q-c-200-175-10.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}

wordbox {
    display: inline-block;
    box-sizing: border-box;
    border: 0px;
    width: auto;
    height: 82px;
    /* max-width: 80%; */
    margin: 10% auto;
    justify-content: center;
}

.letter {
    float: left;
    /* display: inline-block; */
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    border: 1px solid grey;
    width: 40px;
    height: auto;
    padding: 3px;
    margin: 10px 5px;
}

.summary {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 10px 0 10px 0;
}
#wins {
    color: green;
}
#losses {
    color: red;
}

.words {
    list-style-type: none;
}

.wordImg {
    width: 250px;
    height: auto;
}